.InterviewCard {
    justify-self: center;
}

.InterviewCard h3{
    margin-top: 25px;
}

.practice {
    font-size: 15px;
}

.qModal {
    width: 90%;
    margin: auto;
}

.question-title {
    margin-top: 30px;
}

.InterviewCard p {
    margin-top: 20px;
    font-size: 18px;
}