.InterviewCard {
    justify-self: center;
}

.InterviewCard h3{
    margin-top: 25px;
}

.practice {
    font-size: 15px;
}

.qModal {
    min-width: 40%;
}

.InterviewBoard .questionTitle {
    margin: 30px;
}