.About {
    margin-top: 50px;
    text-align: center;
    
}

.About h4 {
    padding: 15px;
    margin-bottom: 30px;
}

.Creators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 80%;
    align-self: center;
}

