.formLayout {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;
    justify-self: center;
    max-width: 100%;
}

.form-group {
    grid-column-start: 1;
    grid-column-end: 4;
}

textarea {
    width: auto;
    height: auto;
    font-size: 12px;
}

.customArea {
    font-size: 16px;
}

.formLayout h2 {
    text-align: left;
}

.customLarge {
    height: 50px;
    font-size: 20px;
}

.question-form {
    font-size: 20px;
}
