.formLayout {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;
    justify-self: center;
    max-width: 100%;
    color: #5c5c5c;
}

.form-group {
    grid-column-start: 1;
    grid-column-end: 4;
}

textarea {
    width: auto;
    height: auto;
    font-size: 12px;
}

.customArea {
    font-size: 16px;
}

.formLayout h2 {
    text-align: left;
}

.customLarge {
    height: 50px;
    font-size: 20px;
}

.question-form {
    font-size: 20px;
}

.time-input {
    display: flex;
    align-self: flex-start;
}

.time-field {
    font-size: 15px;
    height: 30px;
    width: 60px;
    font-weight: 400;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    text-align: left;
}
