.App-header {
  font-size: 25px;
  background-color: #17a2b8;
  color: white;
  display: grid;
  grid-template-columns: 83% 1fr 1fr;
}
  
.Logo {
  justify-self: start;
  margin: 10px 10px 3px 10px;
  align-self: center;
}

.name {
  float: left;
  align-content: center;
  margin-right: 10px;
  align-self: center;
  margin-top: 6px;
}

.nav-buttons {
  font-size: 13px;
  float: left;
  align-self: center;
  padding-right: 7.5px;
  padding-top: 6px;
}

.about-info {
  justify-self: end;
  align-self: center;
}

.account-info {
  justify-self: end;
  margin-right: 20px;
  align-self: center;
}

.logo-holder {
  text-decoration: none;
  color: white;
}

.logo-holder:hover {
  text-decoration: none;
  color: white;
}

.dropdown-item {
  font-size: 13px;
}

.dropdown-toggle:after { 
  content: none; 
}
