.App-header {
  font-size: 25px;
  background-color: #17a2b8;
  padding-top: 10px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.Logo {
  justify-self: start;
  margin: 5px 10px;
}

.nav-buttons {
  margin-right: 10px;
  font-size: 20px;
  margin-top: 5px;
}

.name {
  font-size: 20px;
}

.right-info {
  justify-self: end;
}

.logo-holder {
  text-decoration: none;
  color: white;
}

.logo-holder:hover {
  text-decoration: none;
  color: white;
}