.welcome-banner {
    background-color: #b6f0fe;
    font-size: 8rem;
    color: #58757d;
    padding: 40px 210px;
    text-align: left;
    line-height: 80px;
    font-weight: bolder;
}

.welcome-bar {
    margin: auto;
    margin-top: 30px;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 15px;
}

.welcome-bar-logged-in {
    margin-top: 30px;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 210px 1fr;
    justify-items: center;
    grid-gap: 15px;
}

.welcomeLogo {
    margin: auto;
    margin-top: 125px;
    font: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 8rem;
    font-weight: 700;
    color:#17a2b8;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;

}

.welcome-btn {
    font-size: 25px;
    justify-self: center;
}

.welcome-btn-questions {
    font-size: 25px;
    justify-self: end;
}

.welcome-btn-logout {
    font-size: 25px;
    justify-self: start;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}