.welcomeLogo {
    margin: auto;
    margin-top: 125px;
    font: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 8rem;
    font-weight: 700;
    color:#17a2b8;
}

.About {
    margin-top: 175px;
    padding-top: 50px;
    border-top: 1px solid;
    text-align: center;
}

.About h4 {
    padding: 15px;
}

.navBar {
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    max-width: 30%;
}

.navButton {
    font-size: 25px;
    justify-self: center;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}