.LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.Large-field {
  height: 50px;
  width: 300px;
  font-size: 20px;
}

.Large-btn {
  width: 100px;
  font-size: 20px;
}