.modal-body {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
}

.tip {
    font-size: 15px;
    margin: 5px 0;
    grid-row-start: 3;
    grid-column-start:1;
    grid-column-end: 4;
    text-align: center;
}

.tip-btn {
    font-size: 15px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.hidden-tip-script-btn {
    font-size: 15px;
    grid-row-start: 3;
    grid-column-start: 2;
}

.show-tip-script-btn {
    font-size: 15px;
    grid-row-start: 4;
    grid-column-start: 2;
}

.hidden-tip-script {
    font-size: 15px;
    grid-row-start: 4;
    grid-column-start:1;
    grid-column-end: 4;
    text-align: center;
    margin-bottom: 10px;
}

.show-tip-script {
    font-size: 15px;
    grid-row-start: 5;
    grid-column-start:1;
    grid-column-end: 4;
    text-align: center;
    margin-bottom: 10px;
}

#question {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}