.modal-body {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
}

.custom-footer {
    justify-content: space-between;
}

.ftr-btns {
    margin: 5px;
}

.ftr-btn {
    margin: 0px 10px;
    padding: 4px 15px;
}

.timer {
    width: 70%;
    text-align: left;
    font-size: 12px;
}

.timer-counter {
    margin-bottom: 0;
}

.timer-btn{
    margin-right: 3px;
}

.tip {
    font-size: 15px;
    margin: 5px 0;
    grid-row-start: 4;
    grid-column-start:1;
    grid-column-end: 4;
    text-align: center;
    white-space: pre-line;
}

.tip-btn {
    font-size: 15px;
    grid-row-start: 3;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.hidden-tip-script-btn {
    font-size: 15px;
    grid-row-start: 4;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.show-tip-script-btn {
    font-size: 15px;
    grid-row-start: 5;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.hidden-tip-script {
    font-size: 15px;
    grid-row-start: 5;
    grid-column-start:1;
    grid-column-end: 4;
    margin-bottom: 10px;
    white-space: pre-line;
    text-align: center;
}

.show-tip-script {
    font-size: 15px;
    grid-row-start: 6;
    grid-column-start:1;
    grid-column-end: 4;
    margin-bottom: 10px;
    white-space: pre-line;
    text-align: center;
}

.question-title {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    grid-row-start: 1;
    margin-bottom: 0;
}

.question-description {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    grid-row-start: 2;
    font-size: 15px;
    margin: 0 15px;
}