.App {
  text-align: center;
}

.App-header {
  font-size: 50px;
  background-color: #19B9D6;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}


.App-header-footer {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  color: grey;
  font-size: 18px;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

