.title-card {
    margin: 30px;
}

.InterviewBoard h1 {
    margin: 30px;
}

.InterviewBoard-grid {
    text-align: center;
    display: grid;
    margin: 0 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
}